.pie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 7rem 3rem 0.5rem;
    align-items: center;
}



.pie__ano,
.pie__contacto{
    color: #8c8888;
}
.pie__contacto{
    font-size: 1.5rem;
    font-weight: 400;
}

.pie__lista{
    display: flex;
    list-style: none;
}


.pie__imagen{
    margin-right: 1rem;
    width: 40px;
    height: 40px;

}


@media screen and (max-width:768px) {
    .pie{
        margin: 3rem 1rem 0.5rem;
        flex-direction: column;
    }
    .pie__ano{
        font-size: .80rem;
    }
.pie__contacto{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}
.pie__lista{
   margin-right: 20px;
}
    .pie__imagen{
        width: 20px;
        height: 20px;
        
    }
}