.pie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 7rem 3rem 0.5rem;
    align-items: center;
}



.pie__ano,
.pie__contacto{
    color: #8c8888;
}
.pie__contacto{
    font-size: 1.5rem;
    font-weight: 400;
}

.pie__lista{
    display: flex;
    list-style: none;
}


.pie__imagen{
    margin-right: 1rem;
    width: 40px;
    height: 40px;

}


