.quienes{
    text-align: center;
}

.quienes__titulo{
    color: #da2b1f;
    margin: 0;
    font-family: Pacifico;
    font-weight: 400;
    font-size: 51px;
}

.quienes__descripcion{
    font-family: Roboto;
    font-weight: 100;
    font-size: 28px;
    color: #8c8888;
}


.personas{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.persona{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
    
}

.persona__imagen{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.persona__nombre{
    font-family: Pacifico, cursive;
    font-weight: 400;
    font-size: 2rem;
    color: #da2b1f;
}

.persona__imagen--roberta{
    background-image: url(../img/personas/roberta.jpg);
}

.persona__imagen--marcela{
    background-image: url(..//img/personas/marcela.jpg);
}

.persona__imagen--andreia{
    background-image: url(../img/personas/andrea.jpg);
}

.persona__funcion{
    color: #8c8888;
    font-size: 1.25rem;
    text-transform: lowercase;
}